@charset "UTF-8";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

.page {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container__logo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container__logo--half {
  max-width: 50%;
}

.container__searchbar {
  display: flex;
  width: 100%;
  text-align: center;
}
.container__searchbar > .search_bar {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgba(161, 161, 161, 0.2588235294);
  border-top-width: 1.5px;
  border-top-style: double;
  border-top-color: rgba(28, 24, 24, 0.26);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.resto_short {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: rgba(161, 161, 161, 0.0705882353);
}

.head_intro {
  padding: 18px 0px 10px 0px;
  font-size: 18px;
}

.titre_short {
  width: 75%;
  text-align: center;
  margin: 5% 0% 5% 0%;
  font-size: 20px;
}

.description {
  text-align: center;
}

.btnresto {
  display: flex;
  height: 50px;
  width: 240px;
  border-radius: 1.9em;
  background: linear-gradient(174deg, #FF79DA, #9356DC);
  border-style: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
  justify-content: center;
  align-items: center;
}
.btnresto .ancreresto {
  text-decoration: none;
  color: white;
}

.btnresto:hover {
  background: linear-gradient(174deg, #FF79DA, #9356DC);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.8);
}

.btnresto_short {
  display: flex;
  margin-top: 5%;
  margin-bottom: 8%;
}

.guide {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10%;
}

.titre_guide {
  display: flex;
  margin: 5% 0% 5% 0%;
}

.guide-title{
  margin-right: 12%;
  width: 200px;
}

.menu_guide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ancre_guide {
  display: flex;
  background-color: rgba(161, 161, 161, 0.0705882353);
  margin: 20px 0px 0px 0px;
  height: 55px;
  width: 80%;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0px 3px 8px rgba(28, 24, 24, 0.26);
  justify-content: space-around;
}
.ancre_guide .icon-guide {
  display: flex;
}
.ancre_guide:hover {
  background-color: #f5edff;
}

.pastille-nombre {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7.5%;
  border-radius: 50%;
}
.pastille-nombre i {
  font-size: 11px;
  color: white;
}

.container__listresto {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: rgba(161, 161, 161, 0.0705882353);
  padding-top: 10%;
}

.liste_restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 950px;
  justify-content: space-around;
  align-items: center;
}

.titre-majeur {
  padding-left: 5%;
}

.item_resto {
  display: flex;
  width: 90%;
  height: 200px;
  flex-direction: column;
  border-radius: 1.2em;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 1px 7px rgba(28, 24, 24, 0.26);
}
.item_resto > .img_hebergement {
  display: flex;
  object-fit: cover;
  height: 65%;
  width: 100%;
  border-radius: 1em 1em 0em 0em;
}

.nouveauté {
  position: relative;
}

.nouveauté::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  right: 2%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b6150;
}

.info-hebergement {
  width: 90%;
  display: flex;
  padding-top: 3%;
  justify-content: space-between;
}

.info-text {
  display: flex;
  flex-direction: column;
  color: black;
}

.icon-like {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border: none;
  position: relative;
}
.icon-like i {
  transition: 0.5s;
  position: absolute;
}
.icon-like i:first-child {
  opacity: 1;
}
.icon-like i:last-child {
  opacity: 0;
}
.icon-like:hover i:first-child {
  opacity: 0;
}
.icon-like:hover i:last-child {
  opacity: 1;
}

.fa-heart {
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.heartfull {
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: rgba(28, 24, 24, 0.82);
  padding: 2% 0% 5% 0%;
}

.titre__footer {
  padding-left: 5%;
  padding-bottom: 4%;
  color: white;
  font-family: shrikhand;
  font-weight: normal;
}

.list__footer {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.list__footer .footerancre {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  margin-bottom: 1%;
}
.list__footer .footerancre .fa-solid {
  width: 20px;
  margin-right: 1%;
}

@media screen and (min-width: 768px) {
  .pastille-nombre {
    left: 9%;
  }
  .info-hebergement {
    padding-top: 2%;
  }
}
@media screen and (min-width: 1024px) {
  .guide-title {
    margin-right: 25%;
  }
  .container__listresto {
    padding-bottom: 10%;
  }
  .liste_restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    gap: 3%;
    height: 800px;
  }
  .item_resto {
    display: flex;
    width: 45%;
    height: 300px;
  }
  .info-hebergement {
    display: flex;
    align-items: center;
    padding-top: 4%;
  }
}




/*# sourceMappingURL=OhmyFoodstyle.css.map */
